<ng-container *ngIf="userRole">
  <ion-menu side="start" menuId="cocineroMenu" contentId="main-content">
    <ion-content class="menu-content">
      <ion-list>
        <ion-label class="menu-title">Menú</ion-label>
        <ion-item button (click)="cerrarSesion()" class="menu-item">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-header id="main-content">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="cocineroMenu">
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>
        {{ esCocinero ? 'Pedidos de Cocina' : 'Pedidos de Barra' }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div *ngIf="pedidos.length === 0" class="empty-state">
      <ion-icon 
        [name]="esCocinero ? 'fast-food-outline' : 'wine-outline'" 
        class="empty-icon">
      </ion-icon>
      <p>No hay pedidos para preparar</p>
    </div>

    <div *ngFor="let pedido of pedidos" class="pedido-card">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Pedido: {{pedido.idPedido}}</ion-card-subtitle>
          <ion-card-title>Mesa: {{pedido.idMesa}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let producto of pedido.productos" lines="none" class="producto-item">
              <ion-label>{{producto.nombre}}</ion-label>
              <!-- <ion-badge 
                
                *ngIf="producto.estado === 'preparado'"
              (click)="cambiarEstadoProducto(pedido, producto)"
                class="estado-badge estado-badge--preparado">
                {{producto.estadoProducto === 'preparado' ? 'PREPARADO' : 'PENDIENTE'}}
              </ion-badge> 
              <ion-badge 
                color="warning" 
                *ngIf="producto.estado !== 'preparado'"
              (click)="cambiarEstadoProducto(pedido, producto)"
                class="estado-badge estado-badge--pendiente">
              {{producto.estadoProducto === 'preparado' ? 'PREPARADO' : 'PENDIENTE'}}
              </ion-badge> -->
                <ion-button 
    [color]="producto.estadoProducto === 'preparado' ? 'medium' : 'warning'"
    [disabled]="producto.estadoProducto === 'preparado'"
    (click)="cambiarEstadoProducto(pedido, producto)"
    class="estado-button"
    size="small">
    {{ producto.estadoProducto === 'preparado' ? 'PREPARADO' : 'PREPARAR' }}
  </ion-button>
            </ion-item>
          </ion-list>

          <ion-button 
            expand="block" 
            class="btn-entregar" 
            (click)="marcarPedidoEntregado(pedido.id,pedido.idMesa)"
            [disabled]="!pedido.todosPreparados">
            {{ pedido.todosCompletos ? 'LISTO PARA ENTREGAR' : 'CONFIRMAR LISTO' }}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ng-container>

<div *ngIf="!userRole" class="loading-state">
  <ion-spinner></ion-spinner>
  <p>Cargando vista del usuario...</p>
</div>