<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">Menú Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content" side="start">
  <ion-header class="custom-header">
    <ion-toolbar>
      <ion-title class="header-title">Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-item button (click)="navigateTo('home')">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item button (click)="abrirConsulta()">
        <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
        <ion-label>Consultas</ion-label>
      </ion-item>
      <ion-item button (click)="cerrarSesion()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" [fullscreen]="true">
  <div class="container">
    

    <!-- Botones principales -->
    <div class="action-buttons">
      <!-- Botón siempre visible -->
      <ion-button expand="block" class="action-button" (click)="verEstadoPedido()">
        <ion-icon slot="start" name="time-outline"></ion-icon>
        Estado del Pedido
      </ion-button>



      <!-- Botones siempre visibles -->
      <ion-button expand="block" class="action-button survey-button" (click)="irAEncuesta()">
        <ion-icon slot="start" name="document-text-outline"></ion-icon>
        Encuesta
      </ion-button>

      <ion-button expand="block" class="action-button game-button" (click)="jugarDescuento()">
        <ion-icon slot="start" name="game-controller-outline"></ion-icon>
        Juego de Descuento
      </ion-button>


            <!-- Botones condicionales según estado -->
      <ion-button *ngIf="pedidoActual?.estado === 'servido'" 
                 expand="block" class="action-button serve-button" (click)="marcarComoServido()">
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>
        Marcar como Servido
      </ion-button>

      <ion-button *ngIf="pedidoActual?.estado === 'pedido servido'" 
                 expand="block" class="action-button bill-button" (click)="pedirLaCuenta()">
        <ion-icon slot="start" name="receipt-outline"></ion-icon>
        Pedir la Cuenta
      </ion-button>

      <ion-button *ngIf="pedidoActual?.estado === 'cuenta entregada'" 
                 expand="block" class="action-button pay-button" (click)="irAPagar()">
        <ion-icon slot="start" name="card-outline"></ion-icon>
        Pagar Cuenta
      </ion-button>
    </div>
  </div>
</ion-content>